
.footer_invitation {
    color: aquamarine;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(50, 250, 50, 1);
}

a {
    font-size: 16px;
    color: aquamarine;
}
