
label {
    float: left;
    color: #4545F5;
    text-shadow: 0px 0px 4px rgba(69, 69, 245, 1);
    text-align: left;
    font-family: serif;
}

input {
    width: 180px;
    height: 20px;
    background-color: #FFFFFF;
    color: #0030FF;
    background-color: rgba(200, 200, 200, 0.8);
    font-family: serif;
    font-size: 14px;
    border: 1px solid darkblue;
}

input:focus {
    border: 1px dotted gold;
}

input:hover {
    background-color: rgba(200, 200, 200, 0.7);
}

.input_row {
    margin-bottom: 10px;
}

button {
    color: #4545F5;
    background-color: rgba(200, 200, 200, 0.85);
    width: 100px;
    height: 26px;
    font-family: serif;
    font-size: 16px;
    display: inline-block;
    border: 3px double #FC6;
    border-top-color: #FC9;
    border-left-color: #FC9;
    margin-top: 10px;
}

button:hover {
    background-color: rgba(144, 238, 144, 0.85);
}
